<div class="mx-5">
    <!-- <div class="col-md-6"> -->
    <form [formGroup]="myForm">
        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <mat-form-field appearance="fill" class="w-100">
                            <input matInput aria-label="input" type="text" formControlName="input1" id="input1">
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-end">כותרת:1</div>
        </div>

        <div class="row">

            <div class="col-md-10">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-2 text-start">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select formControlName="select1">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 text-start">תאריך סיום:</div>
                    <div class="col-md-2">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select formControlName="select1">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2 time-colon">:</div>
                    <div class="col-md-2">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select formControlName="select1">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-2">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select formControlName="select1">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>



                </div>
            </div>
            <div class="col-md-2 text-end">תאריך התחלה:</div>
        </div>


        <div class="row">
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <input matInput aria-label="input2" type="text" formControlName="input1" id="input2">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field appearance="fill" class="w-100">
                            <mat-select formControlName="select1">
                                <mat-option value="option1">Option 1</mat-option>
                                <mat-option value="option2">Option 2</mat-option>
                                <mat-option value="option3">Option 3</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
            </div>
            <div class="col-md-2 text-end">כותרת:3</div>
        </div>

        <div class="row">
            <div class="col-md-10 text-end">
                <mat-radio-group formControlName="radioGroup">
                    <mat-radio-button value="option1">אופציה 1</mat-radio-button>
                    <mat-radio-button value="option2">אופציה 2</mat-radio-button>
                </mat-radio-group>
            </div>
            <div class="col-md-2 text-end align-self-center">חשיבות:</div>
        </div>

        <div class="row">

            <div class="col-xxl-4 col-xl-5">
                <div class="row">
                    <div class="col-md-3 text-end">
                        <mat-form-field appearance="fill" class="w-100">
                            <input matInput aria-label="input" type="text" formControlName="input1" id="input1">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-end">
                        <mat-form-field class="w-100">
                            <mat-label>Choose a date</mat-label>
                            <input matInput aria-label="input" [matDatepicker]="picker1">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 text-end">3xxxx</div>
                </div>
            </div>
            <div class="col-xxl-4 col-xl-2"></div>
            <div class="col-xxl-4 col-xl-5">
                <div class="row d-flex justify-content-end">
                    <div class="col-md-3 text-end">
                        <mat-form-field appearance="fill" class="w-100">
                            <input matInput aria-label="input" type="text" formControlName="input1" id="input1">
                        </mat-form-field>
                    </div>
                    <div class="col-md-6 text-end">
                        <mat-form-field class="w-100">
                            <mat-label>Choose a date</mat-label>
                            <input matInput aria-label="input" [matDatepicker]="picker2">
                            <mat-hint>MM/DD/YYYY</mat-hint>
                            <mat-datepicker-toggle matIconSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-md-3 text-end">6xxxx</div>
                </div>
            </div>
        </div>

        <div class="row mt-5">
            <div class="col-xxl-9"></div>
            <div class="col-xxl-2 text-end">
                <mat-form-field appearance="fill" class="w-100">
                    <input matInput aria-label="input" type="text" formControlName="input1" id="input1">
                </mat-form-field>
            </div>
            <div class="col-xxl-1 text-end">xxxx1</div>
        </div>
    </form>
    <!-- </div> -->



</div>