// .form-group {
//     display: flex;
//     flex-direction: column;
// }

// .form-label {
//     margin-bottom: 0.5rem;
//     /* Adjust as needed */
// }

.time-colon {
    width: 0;
    align-self: center;
    padding-bottom: 1rem;
}